body{
    background-color: #457d58;
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: #cbddd1;
    margin: 0% 10% 0% 10%;
    padding: 1%;
}

h1{
    font-family: cardo, serif;
    font-weight: 700;
    font-size: 48px;
}

h2{
    font-family: cardo, serif;
    font-weight: 400;
    font-size: 36px;
}

h3{
    font-family: cardo, serif;
    font-weight: 400;
    font-size: 36px;
    padding: 2%;
    background-color: #1f5014;
    color: #f6f6ed;
}

p{
    font-family: didact gothic, sans-serif;
    font-weight: 400;
    font-size: 21px;
}